<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
     <add name="cnStrSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\Usuario\Downloads\sisfin-ray\sisfin\Apresentacao\APP_DATA\Database2.mdf;Integrated Security = True"
         providerName="System.Data.SqlClient" />
     <add name="cnStrMysql" connectionString="server=143.106.241.4;user=cl203310;database=cl203310;password=cl*10102007; Allow Zero Datetime=true"
         providerName="System.Data.MySqlClient" />
 </connectionStrings>
</configuration>